* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

article {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif; 
    line-height: 20px;
    margin: 0;
    padding: 35px 100px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
 
.menu-title {
    padding: 62px;
    font-size: 55px;
}

.menu-category {
    margin: 59.76px 0px 72px;
}

.menu-category a {
    text-decoration: none;
}

.menu-list {
    margin-right: 15px;
}

.menu-list:hover {
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #222222;
}

.menu-list {
    color: #222222;
    font-weight: 500;
    text-decoration: none;
}

.menu-list:hover {
    color: #eeeeee;
    font-weight: 500;
    text-decoration: none;
}

.section-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* coffee */
.coffee-banner {
    width: 50%;
    height: auto;
    background: url('image/coffee-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.coffee-banner-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.coffee-banner-inner {
    width: 50%;
}

.coffee-banner-inner a {
    color: #222222;
    text-decoration: none;
}

.coffee-content1 {
    margin: 8px 0 0 35px;
}

.coffee-banner-title {
    color: #705682;
    font-size: 46px;
    font-weight: 900;
}

.banner-title {
    margin-bottom: 5px;
}

.coffee-title-underline {
    width: 40px;
    border-top: 2px solid #705682;
}

.coffee-content2 {
    margin-left: 35px;
}

.coffee-banner-content {
    font-size: 18px;
    font-weight: 500;
}

.content {
    margin-top: 9px;
}

.coffee-img {
    width: 50%;
    padding: 44px 0px 0px 53px;
}

.coffee-img img {
    width: 90%;
}

.coffee-next-btn a i {
   width: 25px;
   height: 25px;
}

.coffee-next-btn,.wine-next-btn img:hover  {
    cursor: pointer;
}

/* wine */
.wine-banner {
    width: 50%;
    height: auto;
    background: url('image/wine-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.wine-banner-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


.wine-banner-inner {
    width: 50%;
}

.wine-banner-inner a {
    color: #222222;
    text-decoration: none;
}

.wine-content1 {
    margin: 8px 0 0 35px;
}

.wine-banner-title {
    color: #cd8871;
    font-size: 46px;
    font-weight: 900;
}

.wine-title-underline {
    width: 40px;
    border-top: 2px solid #cd8871;
}

.wine-content2 {
    margin-left: 35px;
}

.wine-banner-content {
    font-size: 18px;
    font-weight: 500;
}

.wine-img {
    width: 50%;
    padding: 20px 0 0 20px;
}

.wine-img img {
  width: 90%;
}

.wine-next-btn img:hover {
    cursor: pointer;
}

.online-title {
    color: #6444a6;
    font-size: 70px;
    font-weight: 900;
}

.online-store-setction {
    max-width: 100%;
    background: url('image/online-store-banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 800px;
}

.online-store-title-wrap {
    padding: 97px 348px;
}

.online-store-title-wrap p {
    color: #613ca1;
    font-size: 28px;
    margin-bottom: 30px
}

.online-store-title-wrap a {
    padding: 15px 30px;
    border: 1px solid #613ca1;
    border-radius: 35px;
    text-decoration: none;
    color: #613ca1;
}

.online-store-img {
    padding: 25px;
}

@keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }  

.online-store-title-wrap img {
    padding: 0px 1090px;
    animation: vibration 1s infinite;
}

/* 반응형 */
@media screen and (max-width:1500px) {
	/* 와이드형 데스크탑 */
    /* 커피 */
    .coffee-banner-title {
        font-size: 33px;
    }

    .coffee-title-underline {
        width: 35px;
    }

    .coffee-banner-content {
        font-size: 14px;
    }

    /* 와인 */
    .wine-banner-title {
        font-size: 33px;
    }

    .wine-title-underline {
        width: 35px;
    }

    .wine-banner-content {
        font-size: 14px;
    }

    /* 온라인스토어 배너 */
    .online-store-title-wrap {
        padding: 101px 287px;
    }

    .online-title {
        font-size: 55px;
    }

    .online-store-title-wrap p {
        font-size: 20px;
    }

    .online-store-title-wrap a {
        font-size: 11px;
        padding: 14px 29px; 
    }

}

@media screen and (max-width:1200px) {
	/* 데스크탑 */
    /* 커피 */
    .coffee-banner-title {
        font-size: 33px;
    }

    .coffee-title-underline {
        width: 35px;
    }

    .coffee-banner-content {
        display: none;
    }

    /* 와인 */
    .wine-banner-title {
        font-size: 33px;
    }

    .wine-title-underline {
        width: 35px;
    }

    .wine-banner-content {
        display: none;
    }

    /* 온라인스토어 배너 */
    .online-store-title-wrap {
        padding: 83px 219px;
    }

    .online-title {
        font-size: 45px;
    }

    .online-store-title-wrap p {
        font-size: 18px;
        margin-bottom: 19px;
    }

    .online-store-title-wrap a {
        font-size: 11px;
        padding: 12px 25px; 
    }

}

@media screen and (max-width:992px) {
	/* 타블렛 */
    /* BEST */
    .menu-title {
        padding: 43px;
        font-size: 38px;
    }
    
    .menu-category {
        margin: 46.76px 0px 72px;
    }

    .menu-category a {
        font-size: 15px;
    }

    /* 커피 */
    .coffee-banner {
        width: 100%;
    }

    .coffee-banner-title {
        font-size: 40px;
    }
    
    .coffee-title-underline {
        width: 25px;
    }

    .coffee-content1 {
        margin: 8px 0 0 26px;
    }

    /* 와인 */
    .wine-banner {
        width: 100%;
    }

    .wine-banner-title {
        font-size: 40px;
    }

    .wine-title-underline {
        width: 25px;
    }
    
    .wine-content1 {
        margin: 8px 0 0 26px;
    }

    /* 온라인스토어 배너 */
    .online-store-setction {
        max-width: 100%;
        background: url('image/online-store-banner-moblie.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 1920px;
        height: 800px;
    }

    .online-store-title-wrap {
        padding: 153px 260px;
    }

    .online-title {
        font-size: 39px;
    }

    .online-store-title-wrap p {
        font-size: 15px;
        margin-bottom: 19px;
    }

    .online-store-title-wrap a {
        font-size: 11px;
        padding: 11px 23px; 
    }
}

@media screen and (max-width:768px) {
	/* 스마트폰 가로 */
    /* BEST */
    .menu-title {
        padding: 28px;
        font-size: 29px;
    }
    
    .menu-category {
        margin: 26.76px 0px 72px;
    }

    /* 커피 */
    .coffee-banner-title {
        font-size: 35px;
    }
    
    .coffee-title-underline {
        width: 15px;
    }

    .coffee-content1 {
        margin: 8px 0 0 26px;
    }

    /* 와인 */
    .wine-banner-title {
        font-size: 35px;
    }

    .wine-title-underline {
        width: 15px;
    }
    
    .wine-content1 {
        margin: 8px 0 0 26px;
    }

    /* 온라인스토어 배너 */
    .online-store-title-wrap {
        padding: 17px 147px;
    }
    
    .online-title {
        font-size: 35px;
    }

    .online-store-title-wrap p {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .online-store-title-wrap a {
        font-size: 9px;
        padding: 9px 16px;
    }

    .online-store-title-wrap a:hover {
        cursor: pointer;
    }
}

@media screen and (max-width:576px) {
	/* 스마트폰 */
    /* BEST */
    .menu-title {
        padding: 24px;
        font-size: 19px;
    }

    .menu-category {
        margin: 21.76px 0px 72px;
    }

    .menu-category a {
        font-size: 11px;
    }

    /* 커피 */
    .coffee-banner-title {
        font-size: 25px;
    }
        
    .coffee-title-underline {
        width: 15px;
    }
    
    .coffee-content1 {
        margin: 8px 0 0 26px;
    }
    
    /* 와인 */
    .wine-banner-title {
        font-size: 25px;
    }
    
    .wine-title-underline {
        width: 15px;
    }
        
    .wine-content1 {
        margin: 8px 0 0 26px;
    }

    /* 온라인스토어 배너 */
    .online-store-title-wrap {
        padding: 54px 155px;
    }
        
    .online-title {
        font-size: 30px;
    }
    
    .online-store-title-wrap p {
        font-size: 10px;
        margin-bottom: 12px;
    }
    
    .online-store-title-wrap a {
        font-size: 7px;
        padding: 8px 13px;
    }
}






